.ttext{
    border:none;
    outline:none;
    height: 16px;
    width: 75px;
    padding-bottom: 10px;
    font-size: 15px;
}
.tnote{
    border:none;
    outline:none;
    height:20px;
    width:100%;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 15px;
}
.container{
    padding-top: 50px;

.cl{
    width: 70px;
    height: 30px;
    margin-left: 120px;
}}