.ttext{
    border: none;
    outline: none;
    width: 590px;
    height: 20px;
    padding-bottom: 13px;
    font-size: 24px;
}
.tnote{
    border: none;
    outline: none;
    width: 590px;
    height: 20px;
    padding-bottom: 3px;
    font-size: 17px; 
    font-family: Arial, Helvetica, sans-serif;
}
.cl{
    margin-left: 550px;
}