<div class="top" fxFlexFill fxLayout="row wrap" fxLayoutGap="29px grid">
    <div *ngFor="let note of allnotes | filter:searchkey"  fxFlex="25%">
        <mat-card class="top2" [style.background]="note.color">
            <div>
                <mat-card-title (click)="openDialog(note)">{{note.title}}</mat-card-title>
            </div>
            <div><mat-card-subtitle (click)="openDialog(note)">{{note.description}}</mat-card-subtitle></div>
            <div>
                <app-icons class="icons" (changeColorOfNote)="colourchanged($event)" [noteId]="note"></app-icons>
            </div>
        </mat-card>
    </div>
</div>