.top{
    padding-top: 81px;
    padding-left: 120px;//
}
.top2{
    border-color: lightgray;
    border-radius: 4%;
    border-width: 1px;
    border-style:solid;
    width: 240px;
    height: 100px;
}
.some{
    visibility: hidden;
}
.top2:hover .some{
    visibility: visible;
}
.top2.top2:hover{
    box-shadow: rgba(0, 0, 0, 0.5) 1px 6px 9px;
}