.outer{
    margin-top: 7.5%;
}

.design{
    border-style: double;
    border-color: lightgrey;
    border-radius: 1.5%;
    border-width: 0.5px;
}

.l1{
    padding-left: 4%;
    text-align: start;
    margin-left: -16px;
    font-size: 16px;
    color: #1a73e8;
}

.l3{
    padding-left: 1px;
    font-size: 16px;
    color: #1a73e8;
}
.btn{
    text-align: center;
    margin-left: 155px;
    height: 38px;
    width: 80px;
    color: white;
    background-color: #1a73e8;
}

.last{
    padding-top: 10%;
    padding-bottom: 5%;
}