<div class="float-container" fxLayoutAlign="center">
  <mat-card fxFlex.xs="95" fxFlex.sm="95" class="design" fxFlex="50" fxLayout="row">
    <div class="float-child">
      <form [formGroup]="signupForm" (ngsubmit)="signup()">
        <div fxlayout="column" fxLayoutAlign="start">
          <h1>
            <span style="color:blue">F</span>
            <span style="color:red">u</span>
            <span style="color:yellow">n</span>
            <span style="color:blue">d</span>
            <span style="color:green">o</span>
            <span style="color:red">o</span>
          </h1>
        </div>
        <h1>Create Your Fundoo Account</h1>
        <div fxLayoutGap="10px" fxLayout="row">
          <mat-form-field fxFlex.xs="100" appearance="outline">
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstname">
            <mat-error>First name is required</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex.xs="100" appearance="outline">
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastname">
            <mat-error>Last name is required</mat-error>
          </mat-form-field>
        </div>
        <div fxLayout="column">
          <mat-form-field fxFlex.xs="98" fxFlex.sm="95" fxFlex.lg="80" class="us" appearance="outline">
            <mat-label>Username</mat-label>
            <input matInput formControlName="email">
            <mat-hint>You can use letters, numbers & periods</mat-hint>
            <mat-error>Username is required</mat-error>
          </mat-form-field>
        </div>
        <div fxLayoutGap="10px" fxLayout="row">
          <mat-form-field fxFlex.xs="100" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password">
            <mat-error>Password is required</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex.xs="100" appearance="outline">
            <mat-label>Confirm</mat-label>
            <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="confirm">
            <mat-error>Confirm Password is required</mat-error>
          </mat-form-field>
        </div>

        <p class="clue">Use 6 or more characters with a mix of letters, numbers & symbols</p>
        <mat-checkbox class="check" matSuffix (click)="checkboxPassword()">Show Password</mat-checkbox>
        <div class="bottom" fxLayout="row">
          <button mat-button class="button1" routerLink="/login">Sign in instead</button>
          <button class="button2" mat-raised-button (click)="signup()" >Next</button>
        </div>
      </form>
    </div>
    <div fxHide.sm="true" fxHide.xs="true" class="float-child">
      <img class="im" src="https://ssl.gstatic.com/accounts/signup/glif/account.svg">
      <p class="one">One Account. All Of Fundoo</p>
      <p class="work">Working For You.</p>
    </div>
  </mat-card>
</div>